.App {
  text-align: center;
}
.flex {
  display: flex;
  font-size: 15px;
  text-align: center;
  margin-top: 130px;
  color: #001021;
  font-weight: bold;
}

.flex3 {
  justify-content: space-between;
}
.flex-project2 {
  margin-top: -80px;
  margin-bottom: 80px;
  text-align: left;
  font-size: 18px;
  line-height: 1;
}

main {
  text-align: center;
  background-color: whitesmoke;
  line-height: 2;
  font-size: large;
}

section {
  background-color: #f1f1f1;
  padding: 30px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: background-color 0.5s ease;
}

section:hover {
  background-color: #ccc;
}
.footT {
  color: white;
}
button {
  padding: 10px;
  margin: 22px;
  width: 25%;
  background-color: #001021;
  border: 2px solid white;
  color: white;
  font-size: large;
  border-radius: 10%;
}
button:hover {
  transform: translateY(-3px);
}
.flex-items {
  width: 90px;
  height: 60px;
  margin: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}
.flex-items:hover {
  transform: translateY(-3px);
}
.topnav {
  right: 0;
  top: 60px;
  overflow: hidden;
  background-color: white;
  font-size: 25%;
  width: 100%;
}

.topnav a {
  float: right;
  color: #001029;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}
h1,
h3 {
  text-align: left;
  font-size: 36px;
}
h2 {
  color: white;
}
.paystack-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.paystack-button:hover {
  background-color: #8b4000;
}

.container {
  width: 400px !important;
  margin: 20px auto;
}
.donate-btn {
  background-color: green;
}

.header {
  right: 0;
  background-color: #001029;
  width: 100%;
  height: 80px;
  display: flex;
  text-align: center;
  color: #f1f1f1;
}

.charity {
  position: relative;
  height: 800px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  left: 0;
  top: 0;
  z-index: -999;
}

.navbar {
  background-color: white;
  width: 100%;
  height: 80px;
}
.container {
  display: flex;
  background: #ccc;
  justify-content: flex-start;
  width: 100%;
}
.col {
  color: red;
}
.decor {
  color: #104901;
}
li {
  list-style-type: none;
  padding: 5px;
}
image-container {
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 50px;
  /* transform: translate(-50%, -50%); */
  color: #104901;
  font-weight: bold;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

@media only screen and (max-device-width: 380px) {
  .header {
    right: 0;
    background-color: #001029;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f1f1f1;
  }
  .topnav a {
    float: right;
    color: #001029;
    text-align: left;
    padding: 20px 8px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  .flex3 {
    justify-content: space-between;
  }
  .flex {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
    margin-top: 130px;
    color: #001021;
    font-weight: bold;
  }
  .charity {
    position: relative;
    height: 300px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    left: 0;
    top: 0;
    z-index: -999;
  }
}
